<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.todo.dal.mapper.EventMapper">
    <resultMap id="BaseResultMap" type="com.zyh.todo.model.po.EventPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="priority" jdbcType="TINYINT" property="priority"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="complete_time" jdbcType="BIGINT" property="completeTime"/>
    </resultMap>
    <sql id="cols">id, priority, title, `desc`, tags, topic, status, create_time, update_time, complete_time</sql>
    <sql id="table">event</sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from event
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zyh.todo.model.po.EventPO">
        insert into event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            priority,
            title,
            <if test="desc != null">
                `desc`,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="topic != null">
                topic,
            </if>
            status, create_time, update_time,
            <if test="topic != null">
                complete_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{priority,jdbcType=TINYINT},
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT},
            <if test="status != null">
                #{completeTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.zyh.todo.model.po.EventPO">
        update <include refid="table"/>
        <trim prefix="set" suffixOverrides=",">
            priority = #{priority,jdbcType=TINYINT},
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                `desc` = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="completeTime != null">
                complete_time = #{completeTime,jdbcType=BIGINT},
            </if>
        </trim>
        <where>id = #{id,jdbcType=INTEGER}</where>
    </update>
    <update id="updateStatusById">
        update
        <include refid="table"/>
        <set>status = #{status,jdbcType=TINYINT}</set>
        <where>id = #{id,jdbcType=INTEGER}</where>
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, priority, title, desc, tags, topic, status, create_time, update_time, complete_time
        from event
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, priority, title, `desc`, tags, topic, status, create_time, update_time, complete_time
        from event
        <where>status != 3</where>
    </select>
    <select id="selectTodo" resultType="com.zyh.todo.model.po.EventPO">
        select
        <include refid="cols"/>
        from
        <include refid="table"/>
        <where>status = 0 OR status = 1</where>
    </select>
    <select id="selectDone" resultType="com.zyh.todo.model.po.EventPO">
        select
        <include refid="cols"/>
        from
        <include refid="table"/>
        <where>status = 2</where>
    </select>
</mapper>