<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.todo.dal.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.zyh.todo.model.po.TagPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="table">tag</sql>
    <sql id="cols">user_id,name</sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zyh.todo.model.po.TagPO">
        insert into
        <include refid="table"/>
        (<include refid="cols"/>)
        values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.zyh.todo.model.po.TagPO">
        update
        <include refid="table"/>
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from
        <include refid="table"/>
        <where>user_id = #{userId,jdbcType=INTEGER}</where>
    </select>
    <select id="selectById" resultType="com.zyh.todo.model.po.TagPO">
        select id, name
        from
        <include refid="table"/>
        <where>
            id = #{id,jdbcType=INTEGER}
        </where>
    </select>
</mapper>