<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.todo.dal.mapper.TaskTagMapper">
  <resultMap id="BaseResultMap" type="com.zyh.todo.model.po.TaskTagPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
  </resultMap>
  <sql id="table">task_tag</sql>
  <delete id="deleteByTaskId">
    delete from
    <include refid="table"/>
    <where>task_id = #{taskId,jdbcType=INTEGER}</where>
  </delete>
  <insert id="insert" parameterType="com.zyh.todo.model.po.TaskTagPO">
    insert into
    <include refid="table"/>
    (tag_id, task_id )
    values (#{tagId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER} )
  </insert>
  <select id="selectByTaskId" resultMap="BaseResultMap">
    select
    *
    from
    <include refid="table"/>
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
</mapper>